:root {
    --slider-height: 0.5rem;
}

* {
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: stretch;
    justify-content: space-between;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(ellipse at bottom, #19454d 0%, #121f2b 100%);
    overflow: hidden;
}

.topbar {
    flex: intial;
}

.bottombar {
    flex: intial;
    display: flex;
    flex-direction: column;
}

.main-container {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: auto;
}

.main-container img {
    border: 2px solid rgb(254, 254, 254);
    width: 100%;
    height: auto;
}

.footer {
    background-color: rgba(80, 80, 80, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    height: 3.5rem;
    display: flex;
    flex-direction: row;
}

.background-player {
    flex: 1;
    border-right: 0.15rem solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-player {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    padding: 0;
}

button:hover {
    cursor: pointer;
    transition: 0.1s;
    filter: brightness(0.5)
}

button img {
    height: 100%;
    transition: 0.1s;
    filter: invert(1);
}

input[type='range'] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: transparent;
    
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.7;

    --range-progress: 0;
}

input[type='range']::before {
    content: '';
    height: var(--slider-height);
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    background: lightgray;
    width: var(--range-progress);
}

input[type='range']::-moz-range-progress {
    background: lightgray;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    height: var(--slider-height);
}

input[type='range']:hover {
    opacity: 1;
}

input[type='range']::-webkit-slider-runnable-track {
    background: gray;
    border-radius: 1rem;
    height: var(--slider-height);
}

input[type='range']::-moz-range-track {
    background: gray;
    border-radius: 1rem;
    height: var(--slider-height);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    background-color: lightgray;
    height: var(--slider-height);
    width: var(--slider-height);
    border-radius: 1rem;
}

input[type='range']::-moz-range-thumb {
    border: none;
    border-radius: 1rem;

    background-color: lightgray;
    height: var(--slider-height);
    width: var(--slider-height);
}