* {
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(ellipse at bottom, #19454d 0%, #121f2b 100%);
    overflow: hidden;
}

.topbar {
    flex: intial;
}

.bottombar {
    flex: intial;
    display: flex;
    flex-direction: column;
}

.image-container {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: auto;
}

.image-container img {
    border: 2px solid rgb(254, 254, 254);
    width: 100%;
    height: auto;
}